@use "@/styles/mixins" as mix;

.budgets {
  display: flex;
  flex-direction: column;

  gap: var(--space-300);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include mix.text-preset-1;

    color: var(--grey-900);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);

    width: 100%;

    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }

  &__chart {
    @media (min-width: 1440px) {
      width: 100%;
      max-width: 26.75rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: var(--space-300);
    width: 100%;
  }
}
