:root {
  //Primary colors
  --beige-500: #98908b;
  --beige-100: #f8f4f0;
  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --grey-100: #f2f2f2;

  //Secondary colors
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;

  //Other colors
  --purple-light: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97a0ac;
  --army-green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;

  --white: #ffffff;

  //Spacing
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-300: 1.5rem;
  --space-250: 1.25rem;
  --space-200: 1rem;
  --space-150: 0.75rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
  list-style: none;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--beige-100);
}

main {
  margin-bottom: 52px;

  @media (min-width: 1024px) {
    margin-bottom: 74px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 0;
    transition: margin-left 0.3s ease-in-out;
  }
}

.sidebar-open {
  @media (min-width: 1024px) {
    margin-left: 300px;
  }
}

.sidebar-closed {
  @media (min-width: 1024px) {
    margin-left: 88px;
  }
}
