@use "@/styles/mixins" as mix;

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--space-150);
  width: 100%;
  padding: var(--space-150) var(--space-250);
  border: 1px solid var(--beige-500);
  border-radius: 0.5rem;

  &__input {
    border: none;
    &::placeholder {
      @include mix.text-preset-4;
      color: var(--grey-300);
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}
